
<div id="modalbenef" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body container">
                <form id="formBeneficiario" method="post">
                    <div class="form-group col-md-6" style="width: 45%;">
                        <label for="message-text" class="col-form-label"> CPF:</label>
                        <input type="text" class="form-control" id="cpfmodal" name="cpfmodal"></input>
                    </div>
                    <div class="form-group col-md-4" style="width: 42%;">
                        <label for="message-text" class="col-form-label"> Nome:</label>
                        <input type="text" class="form-control" id="nomemodal" name="nomemodal" placeholder="Ex: João da Silva"></input>
                    </div>
                    <div class="form-group col-md-3" style=" margin-top: 25px; width:0px;">
                        <button type="button" id="incluirbeneficiariobutton" class="btn btn-sm btn-success">Incluir</button>
                    </div>

                </form>

            </div>
            <div class="container" id="divtabela" style="width: 96%;">
                


            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div> <!-- /.modal -->
